In [1]:
import pandas as pd

df=pd.read_csv('ted_main.csv')
df

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,1496707200,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,1505851216,"[{'id': 3, 'name': 'Courageous', 'count': 24},...","[{'id': 2596, 'hero': 'https://pe.tedcdn.com/i...",Journalist,"['TED Residency', 'United States', 'community'...",What we're missing in the debate about immigra...,https://www.ted.com/talks/duarte_geraldino_wha...,450430
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,1492992000,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,1505919737,"[{'id': 22, 'name': 'Fascinating', 'count': 32...","[{'id': 2491, 'hero': 'https://pe.tedcdn.com/i...",Astrobiologist,"['Mars', 'South America', 'TED Fellows', 'astr...",The most Martian place on Earth,https://www.ted.com/talks/armando_azua_bustos_...,417470
2547,10,Science fiction visions of the future show us ...,651,TED2017,1492992000,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,1506006095,"[{'id': 1, 'name': 'Beautiful', 'count': 14}, ...","[{'id': 2346, 'hero': 'https://pe.tedcdn.com/i...",Robotics engineer,"['AI', 'ants', 'fish', 'future', 'innovation',...",What intelligent machines can learn from a sch...,https://www.ted.com/talks/radhika_nagpal_what_...,375647
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1499472000,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,1506024042,"[{'id': 11, 'name': 'Longwinded', 'count': 3},...","[{'id': 2512, 'hero': 'https://pe.tedcdn.com/i...",Public intellectual,"['Internet', 'TEDx', 'United States', 'communi...",A black man goes undercover in the alt-right,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309
2549,8,With more than half of the world population li...,519,TED2017,1492992000,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,1506092422,"[{'id': 21, 'name': 'Unconvincing', 'count': 2...","[{'id': 2682, 'hero': 'https://pe.tedcdn.com/i...",Game designer,"['cities', 'design', 'future', 'infrastructure...",How a video game might help us build better ci...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721

In [2]:
df1=df[['name','comments','duration','views']]
df1

,name,comments,duration,views
0,Ken Robinson: Do schools kill creativity?,4553,1164,47227110
1,Al Gore: Averting the climate crisis,265,977,3200520
2,David Pogue: Simplicity sells,124,1286,1636292
3,Majora Carter: Greening the ghetto,200,1116,1697550
4,Hans Rosling: The best stats you've ever seen,593,1190,12005869
...,...,...,...,...
2545,Duarte Geraldino: What we're missing in the de...,17,476,450430
2546,Armando Azua-Bustos: The most Martian place on...,6,290,417470
2547,Radhika Nagpal: What intelligent machines can ...,10,651,375647
2548,Theo E.J. Wilson: A black man goes undercover ...,32,1100,419309
2549,Karoliina Korppoo: How a video game might help...,8,519,391721

In [3]:
df1.sort_values(by=['views'],ascending=False).head(15) #to play withith

,name,comments,duration,views
0,Ken Robinson: Do schools kill creativity?,4553,1164,47227110
1346,Amy Cuddy: Your body language may shape who yo...,2290,1262,43155405
677,Simon Sinek: How great leaders inspire action,1930,1084,34309432
837,Brené Brown: The power of vulnerability,1927,1219,31168150
452,Mary Roach: 10 things you didn't know about or...,354,1003,22270883
1776,Julian Treasure: How to speak so that people w...,297,598,21594632
201,Jill Bolte Taylor: My stroke of insight,2877,1099,21190883
5,Tony Robbins: Why we do what we do,672,1305,20685401
2114,James Veitch: This is what happens when you re...,150,588,20475972
1416,Cameron Russell: Looks aren't everything. Beli...,846,577,19787465
500,Dan Pink: The puzzle of motivation,1094,1116,18830983
1163,Susan Cain: The power of introverts,1155,1144,17629275
1036,Pamela Meyer: How to spot a liar,561,1130,16861578
2109,Robert Waldinger: What makes a good life? Less...,527,766,16601927
1129,Shawn Achor: The happy secret to better work,754,740,16209727

In [4]:
df['duration'].mean()

826.5101960784314

In [5]:
df['comments'].mean()

191.56235294117647

In [6]:
top15=df1.sort_values(by=['comments'],ascending=False).head(15)

In [7]:
top15

,name,comments,duration,views
96,Richard Dawkins: Militant atheism,6404,1750,4374792
0,Ken Robinson: Do schools kill creativity?,4553,1164,47227110
644,Sam Harris: Science can answer moral questions,3356,1386,3433437
201,Jill Bolte Taylor: My stroke of insight,2877,1099,21190883
1787,David Chalmers: How do you explain consciousness?,2673,1117,2162764
954,Janet Echelman: Taking imagination seriously,2492,566,1832930
840,Lesley Hazleton: On reading the Koran,2374,573,1847256
1346,Amy Cuddy: Your body language may shape who yo...,2290,1262,43155405
661,Michael Specter: The danger of science denial,2272,1141,1838628
677,Simon Sinek: How great leaders inspire action,1930,1084,34309432
837,Brené Brown: The power of vulnerability,1927,1219,31168150
1537,Eric X. Li: A tale of two political systems,1640,1237,2449736
1030,Steve Jobs: How to live before you die,1627,904,8744428
381,Elizabeth Gilbert: Your elusive creative genius,1604,1149,13155478
1448,Allan Savory: How to fight desertification and...,1586,1339,4191678

In [8]:
top15.describe()

          comments     duration         views
count    15.000000    15.000000  1.500000e+01
mean   2640.333333  1132.666667  1.473881e+07
std    1308.505454   294.546787  1.636810e+07
min    1586.000000   566.000000  1.832930e+06
25%    1783.500000  1091.500000  2.306250e+06
50%    2290.000000  1149.000000  4.374792e+06
75%    2775.000000  1249.500000  2.617952e+07
max    6404.000000  1750.000000  4.722711e+07